.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
     justify-content: center;   /* centers the whole grid */
    justify-items: center;     /* centers items inside each column */
   
}

.dashboard a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    background: #ffffff;
    border-radius: 12px;

    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    color: black;
    font-weight: 500;
}

.dashboard a:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.amount {
    font-size: 16px;
    color: #333;
}
